.details-body {
  background-color: #f2f7f5;
  margin-bottom: 50px;
}

.details-body header {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px;
}

.return-button {
  background-color: #faae2b;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 600;
  height: 35px;
  margin: 15px;
  padding: 2px 7px;
  transition: 0.2s;
  width: 75px;
}

.return-button:hover {
  background-color: #fab743;
}

.recipe-spects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  margin-bottom: 50px;
  width: 40%;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.recipe-spects img {
  border-radius: 5px;
}

.detail-buttons {
  display: flex;
}

.detail-buttons input {
  height: 35px;
  margin: 10px 20px;
  width: 35px;
}

.make-recipe-btn-container {
  bottom: 0;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
}

.start-recipe-btn {
  background-color: #faae2b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.2s;
  width: 50%;
}

.start-recipe-btn:hover {
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.finish-recipe-btn {
  background-color: #fa5246;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.2s;
  width: 50%;
}

.finish-recipe-btn:disabled {
  background-color: #e46363;
  color: rgb(207, 207, 207);
}

.finish-recipe-btn:hover {
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.recipe-details {
  margin: 0 10%;
}

.recipe-details iframe {
  height: 315px;
  margin: 30px 0;
  width: 560px;
}

@media only screen and ( max-width : 361px ) {

  header {
    display: none;
    height: 0;
  }

  .return-button {
    margin: 0;
  }

  body {
    width: 100vw;
  }

  .recipe-spects {
    width: 100%;
  }

  .recipe-details {
    margin-left: 5px;
  }

  .recipe-details iframe {
    height: 180px;
    margin: 30px 0;
    width: 100%;
  }

  .start-recipe-btn {
    border-radius: 0;
    width: 100%;
  }

  .finish-recipe-btn {
    border-radius: 0;
    margin: 0;
    width: 100%;
  }

}
