.category-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.category-container div {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
  min-height: 50px;
  width: 70%;
}

.category-container button {
  background-color: #faae2b;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #f3f3f3;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  min-width: 100px;
  padding: 2px 15px;
  transition: 0.2s;
}

.category-container button:hover {
  background-color: rgb(252, 182, 63);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.22);
}

.category-container button:focus {
  background-color: #fac05b;
  border: 2px solid #00332c;
  outline: none;
}

@media only screen and ( max-width : 360px ) {

  .category-container {
    width: 100vw;
  }

  .category-container div {
    flex-wrap: wrap;
    width: 90%;
  }

  .category-container button {
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: center;
    margin: 5px 0;
    max-width: 100px;
    min-width: 90px;
    padding: 5px;
  }
}

@media only screen and ( max-width : 900px ) {

  .category-container div {
    flex-wrap: wrap;
    width: 90%;
  }

  .category-container button {
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: center;
    margin: 5px 0;
    max-width: 120px;
    min-width: 100px;
    padding: 5px;
  }
}
