/* Tags */
h1 {
  text-align: center;
}

/* Classes */
#color-palette {
  text-align: center;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#pixel-board {
  text-align: center;
}

/* Elementos Individuais */
.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 1px;
  background: white;
}

.board-line {
  height: 44px;
}

#clear-board {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#board-input {
  margin-top: 10px;
  text-align: center;
}

#board-input p {
  color: gray;
  font-size: 14px;
}
