body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(252, 252, 252);
  color: #333
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card__creator {
  display: flex;
}

.left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50vw;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

.right {
  width: 50vw;
  background-color: rgb(20, 100, 70);
  color: white;
  box-sizing: border-box;
}

.input-text {
  width: 100%;
  height: 25px;
  border: none;
  border-bottom: 1px solid black;
  background-color:rgb(252, 252, 252);
  margin: 0;
}

.textarea {
  width: 100%;
  height: 25px;
  border: none;
  border-bottom: 1px solid black;
  background-color:rgb(252, 252, 252);
  margin: 0;
}

.input-number {
  width: 100%;
}

.select {
  width: 100%;
}

.input-checkbox {
  display: block;
}

.btn-submit {
  display: block;
}

label {
  width: 100%;
  font-weight: bold;
}